version: 2.1

jobs:
  test:
    docker:
      - image: circleci/php:8.0.11-node-browsers

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            # "composer.lock" can be used if it is committed to the repo
            - v1-dependencies-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: "Create database and run migration"
          command: |
            touch database/database.sqlite
            php artisan migrate --env=testing
            
      # run tests with phpunit test feature
      - run:
          name: "Run Unit Tests"
          command: ./vendor/bin/phpunit tests/Feature

workflows:
  test-workflow:
    jobs:
      - test