version: 2.1

jobs:
  test:
    docker:
      - image: circleci/php:8.0.11-node-browsers

    steps:
      - checkout

      - run:
          name: "Prepare Environment"
          command: |
            sudo apt update
            sudo docker-php-ext-install zip

      - run:
          name: "Create Environment file"
          command: |
            mv .env.testing .env

      # Download and cache dependencies
      - restore_cache:
          keys:
            # "composer.lock" can be used if it is committed to the repo
            - v1-dependencies-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor

      - run:
          name: "Create database and run migration"
          command: |
            touch database/database.sqlite
            php artisan migrate --env=testing

      - run: 
          name: "Run seeder"
          command: |
            php artisan db:seed  
        
      - run:
          name: "Generate App key"
          command: php artisan key:generate
            
      # run tests with phpunit test feature
      - run:
          name: "Run Unit Tests"
          command: ./vendor/bin/phpunit tests/Feature

workflows:
  test-workflow:
    jobs:
      - test